<p>Hey {{ fullname }}</p>
<p>Please click below to confirm your email</p>
<p style="cursor: pointer;">
    <a target="_blank" style="font-size: xx-large;" href=`{{ url }}`>Click to confirm</a>
</p>
<p>
    or go to this link :
    <span "font-size: xx-large;">
        {{ url }}
    </span>
</p>

<p>If you did not request this email you can safely ignore it.</p>